<div class="container">
    <div class=" my-5">
        <label for="Title" class="form-label">Title</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Add to do Title">
    </div>
    <div class="mb-5">
        <label for="floatingTextarea2">Comments</label>
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    </div>
    <div class="center mb-5 d-flex text-center ">
        <button class="btn btn-success batn d-flex text-center m-auto" type="button">add to do</button>

    </div>

</div>


<div *ngFor="let todo of todos">
    <app-to-doitem this.[Todo]="todo"></app-to-doitem>
    <!-- 0{{todo.sno}} - {{todo.title}} - {{todo.desc}} - {{todo.active}} -->
</div>